@using ZokuChat.Helpers

<div class="sidebar">
	<a class="sidebar-link" href="@UrlHelper.GetRoomsUrl()">Rooms</a>
	<a class="sidebar-link" href="@UrlHelper.GetContactsUrl()">Contacts</a>
	<a class="sidebar-link" href="@UrlHelper.GetContactRequestsUrl()">Contact Requests</a>
	<a class="sidebar-link" href="@UrlHelper.GetUserSearchUrl()">User Search</a>
</div>
