@model List<ZokuChat.Data.User>
@using ZokuChat.Helpers
@using ZokuChat.Services
@using ZokuChat.Models

@inject IContactService ContactService
@inject IContactRequestService ContactRequestService
@inject Context Context

@foreach (User user in Model)
{
	@if (!user.Equals(Context.CurrentUser))
	{
		<div class="card margin-lg-top" style="width: 500px;">
			<div class="card-body">
				@user.UserName
			</div>
			<div class="card-footer">
				@if (ContactService.IsUserContact(Context.CurrentUser, user))
				{
					<button class="btn btn-danger">Remove Contact</button>
				}
				else if (ContactRequestService.HasActiveContactRequest(Context.CurrentUser, user))
				{
					<button class="btn btn-success" disabled>Request Sent</button>
				}
				else
				{
					<button class="btn btn-primary">Send Request</button>
				}
				<button class="btn btn-danger float-right">Block User</button>
			</div>
		</div>
	}
}