@model List<ZokuChat.Data.User>
@using ZokuChat.Models
@using ZokuChat.Services

@inject IContactService ContactService
@inject IContactRequestService ContactRequestService
@inject Context DbContext

@foreach (User user in Model)
{
	@if (!user.Equals(DbContext.CurrentUser))
	{
		<div class="card card-user margin-lg-top">
			<div class="card-body">
				@user.UserName
			</div>
			<div class="card-footer">
				@if (ContactService.IsUserContact(DbContext.CurrentUser, user))
				{
					@ZokuChat.Helpers.HtmlHelper.GetContactRemoveButton(ContactService.GetUserContact(DbContext.CurrentUser, user))
				}
				else
				{
					@ZokuChat.Helpers.HtmlHelper.GetContactRequestButton(DbContext, ContactRequestService, user)
				}
				@ZokuChat.Helpers.HtmlHelper.GetBlockUserButton(user, "float-right")
			</div>
		</div>
	}
}