@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access Denied";
}

<div class="page-body">
	<partial name="_SiteHeader" />
	<div class="content">
		<h3>Access Denied</h3>
		<p>You do not have permission to view this page.</p>
	</div>
</div>