@page
@model LogoutModel
@{
	ViewData["Title"] = "Logout";
}

<partial name="_SiteHeader" />
<div class="content">
	<h3>Sign Out</h3>
	<form method="post">
		@Html.AntiForgeryToken()
		<input type="submit" value="Logout" class="btn btn-primary" />
	</form>
</div>