@{
    ViewData["Title"] = "Sign In";
}

@await Component.InvokeAsync("SiteHeader", new {})
<div class="margin-lg">
    <h3>Sign In</h3>
    <div class="form-field">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Enter Zoku</button>
            <div>
                <i>Not a user yet? <a href="/Account/Register">Register</a> now!</i>
            </div>
        </form>
    </div>
</div>