@model BlockedUser
@using ZokuChat.Extensions
@using ZokuChat.Models
@using ZokuChat.Services

@inject IUserService UserService
@inject Context DbContext

<div class="card card-user">
	<div class="card-body">
		<div>
			@UserService.GetUserByUID(Model.BlockedUID).UserName
		</div>
		<script>
			$(document).ready(
				function () {
					$('#date-@Model.Id').html(`Blocked on ${window.ZokuChat.GetLocalDateTimeStr(@Model.CreatedDateUtc.ToJavaScriptDateString())}`);
				}
			);
		</script>
		<i class="text-muted" id="date-@Model.Id"></i>
	</div>
	<div class="card-footer">
		@ZokuChat.Helpers.HtmlHelper.GetUnblockUserButton(UserService.GetUserByUID(Model.BlockedUID))
	</div>
</div>