@model BlockedUser
@using ZokuChat.Extensions
@using ZokuChat.Models
@using ZokuChat.Services

@inject IUserService UserService
@inject Context DbContext

<div class="card card-user">
	<div class="card-body">
		<div>
			@UserService.GetUserByUID(Model.BlockedUID).UserName
		</div>
		<i class="text-muted">Blocked on @Model.CreatedDateUtc.ToZokuChatDateTimeString()</i>
	</div>
	<div class="card-footer">
		@ZokuChat.Helpers.HtmlHelper.GetUnblockUserButton(UserService.GetUserByUID(Model.BlockedUID))
	</div>
</div>