@model DateTime
@using ZokuChat.Extensions

<script>
	$(document).ready(function () {
		$('#date-time-@Model.Ticks').html(window.ZokuChat.getLocalDateTimeStr(new Date('@Model.ToLocalDateTimeString()')));
	});
</script>
<span id="date-time-@Model.Ticks">
</span>