@model User
@using ZokuChat.Models
@using ZokuChat.Services

@inject IContactService ContactService
@inject IContactRequestService ContactRequestService
@inject Context DbContext

<div class="user-card">
	<div class="contact float-left margin-right margin-bottom">
		@Model.UserName
	</div>
	@if (ContactService.IsUserContact(DbContext.CurrentUser, Model))
	{
		@ZokuChat.Helpers.HtmlHelper.GetContactRemoveButton(ContactService.GetUserContact(DbContext.CurrentUser, Model), "float-left margin-right margin-bottom")
	}
	else
	{
		@ZokuChat.Helpers.HtmlHelper.GetContactRequestButton(DbContext, ContactService, ContactRequestService, Model, "float-left margin-right margin-bottom")
	}
	@ZokuChat.Helpers.HtmlHelper.GetBlockUserButton(Model, "float-left margin-right margin-bottom")
</div>