@model Room
@using ZokuChat.Helpers
@using ZokuChat.Models
@using ZokuChat.Services

@inject IRoomService RoomService
@inject Context DbContext

<div class="card card-room">
	<div class="card-header">
		@Model.Name
	</div>
	<div class="card-body">
		@Model.Description
	</div>
	<div class="card-footer">
		<a href="" class="btn btn-outline-primary margin-right">Enter</a>
		<a href="@UrlHelper.GetViewRoomUrl(Model.Id)" class="btn btn-outline-primary margin-right">View</a>
		@if (RoomPermissionHelper.CanEditRoom(DbContext.CurrentUser, Model))
		{
			<a href="@UrlHelper.GetEditRoomUrl(Model.Id)" class="btn btn-outline-primary margin-right">Edit</a>
		}
	</div>
</div>