@page
@model IndexModel
@{
	ViewData["Title"] = "Rooms";
}

@using ZokuChat.Helpers
@using ZokuChat.Models

<div class="page-body">
	<partial name="_SiteHeader" />
	<div class="content-container">
		<partial name="_ChatSidebar" />
		<div class="content">
			<h3>Rooms</h3>
			<a href="@UrlHelper.GetNewRoomUrl()" class="btn btn-primary">Add</a>
			@foreach (Room room in Model.Rooms)
			{
				<div class="margin-lg-top">
					<partial name="_RoomCard" model="room" />
				</div>
			}
		</div>
	</div>
</div>