@page
@model IndexModel
@{
	ViewData["Title"] = "Contact Requests";
}

<partial name="_SiteHeader" />
<div class="content-container">
	<partial name="_ChatSidebar" />
	<div class="content">
		<h3>Contact Requests</h3>

	</div>
</div>