@page
@model IndexModel
@{
	ViewData["Title"] = "Contact Requests";
}

@using ZokuChat.Models

<partial name="_SiteHeader" />
<div class="content-container">
	<partial name="_ChatSidebar" />
	<div class="content">
		<h3>Contact Requests</h3>
		@foreach (ContactRequest request in Model.ContactRequests)
		{
			<partial name="_ContactRequestCard" model="request" />
		}
	</div>
</div>