@model Contact
@using ZokuChat.Models
@using ZokuChat.Services

@inject IContactService ContactService
@inject IUserService UserService
@inject Context DbContext

<div class="user-card">
	<div class="contact float-left margin-right margin-bottom">
		@UserService.GetUserByUID(Model.ContactUID).UserName
	</div>
	@ZokuChat.Helpers.HtmlHelper.GetContactRemoveButton(Model, "float-left margin-right margin-bottom")
	@ZokuChat.Helpers.HtmlHelper.GetBlockUserButton(UserService.GetUserByUID(Model.ContactUID), "float-left margin-right margin-bottom")
</div>