@page
@model ZokuChat.Pages.Chat.Contact.UserSearchModel
@{
	ViewData["Title"] = "User Search";
}

<div class="page-body">
	<partial name="_SiteHeader" />
	<div class="content-container">
		<partial name="_ChatSidebar" />
		<div class="content">
			<h3>User Search</h3>
			<form method="post">
				<div class="container-fluid margin-lg-bottom">
					<div class="row">
						<div class="col-200">
							<div class="input-group">
								<input asp-for="SearchText" class="form-control" />
								<div class="input-group-append">
									<input class="btn btn-primary" type="submit" value="Search" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			@foreach (User user in Model.Users)
			{
				<partial name="_UserCard" model="user" />
			}
			@if (!String.IsNullOrWhiteSpace(Model.SearchMessage))
			{
				<div class="alert alert-primary float-left">
					@Model.SearchMessage
				</div>
			}
		</div>
	</div>
</div>