@{
    ViewData["Title"] = "About";
}

@await Component.InvokeAsync("SiteHeader", new {})
<div class="margin-lg">
    <p>
        ZokuChat is a minimalist video chat web app that allows you to communicate with your contacts. It is designed to be simple, intuitive and free of the 
        baggage of larger social networks.
    </p>
</div>
