@page
@model ZokuChat.Areas.Identity.Pages.Account.ManageModel
@{
	ViewData["Title"] = "Account";
}

@await Component.InvokeAsync("SiteHeader", new { })
<div class="margin-lg">
	<h3>Account</h3>
	
</div>
