@page
@model ZokuChat.Areas.Identity.Pages.Account.RegisterModel
@{
	ViewData["Title"] = "Register";
}

@await Component.InvokeAsync("SiteHeader", new { })
<div class="margin-lg">
	<h3>Register</h3>
	<form method="post">
		@Html.AntiForgeryToken()
		<div class="form-group">
			<label for="email">Email</label>
			<input id="email" asp-for="Email" placeholder="Enter an email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input id="username" asp-for="Username" placeholder="Enter a username" class="form-control" />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input id="password" asp-for="Password" placeholder="Enter a secure password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label for="passwordConfirm">Confirm Password</label>
			<input id="passwordConfirm" asp-for="PasswordConfirm" placeholder="Confirm the password" class="form-control" />
			<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
		</div>
		<input type="submit" value="Join" class="btn btn-primary">
	</form>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
