@using ZokuChat.Helpers

<div class="sidebar">
	<a class="sidebar-link" href="@UrlHelper.GetManageAccountUrl()">Account</a>
	<a class="sidebar-link" href="@UrlHelper.GetManageBlockedUsersUrl()">Blocked Users</a>
</div>