@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}

<div class="page-body">
	<partial name="_SiteHeader" />
	<div class="content-container">
		<partial name="_HomeSidebar" />
		<div class="content">
			<h3>About</h3>
			<p>
				ZokuChat is a minimalist video chat web app that allows you to communicate with your contacts. It is designed to be simple, intuitive and free of the
				baggage of larger social networks.
			</p>
		</div>
	</div>
</div>