@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<partial name="_SiteHeader" />
<partial name="_HomeSidebar" />
<div class="content">
	<h3>Something Went Wrong...</h3>
	<p>
		An error occurred processing the request. Retry your action or contact the site admin.
	</p>
</div>